<!-- Footer -->
<footer class="container page-footer font-small blue pt-5 mt-5">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
  
          <!-- Content -->
          <a href="https://opstree.github.io">
            <img src="{{ site.footer_logo }}" alt="Opstree">
          </a>
          <p style="color: 	#808080; font-family: Muli; font-size: small;">
            A-27D, First Floor</br>
            Sector 16, Noida, UP - 201301</br>
            Call: 0120-4137323</br>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 style="color:	#002856; font-family: Muli;"><strong>Company</strong></strong></h5>
  
          <ul class="list-unstyled">
            <li>
              <a style="color: 	#006ec2; font-family: Muli; font-size: small;" href="https://www.opstree.com/about">About Opstree</a>
            </li>
            <li>
              <a style="color: 	#006ec2; font-family: Muli; font-size: small;" href="https://www.opstree.com/contact-us">About Us</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 style="color:	#002856; font-family: Muli;"><strong>Services</strong></h5>
  
          <ul class="list-unstyled" >
            <li>
              <a style="color: 	#006ec2; font-family: Muli; font-size: small;" href="https://www.opstree.com/services-advisory">DevOps Advisory</a>
            </li>
            <li>
              <a style="color: 	#006ec2; font-family: Muli; font-size: small;" href="https://www.opstree.com/services-solutioning">DevOps Solutioning</a>
            </li>
            <li>
              <a style="color: 	#006ec2; font-family: Muli; font-size: small;" href="https://www.opstree.com/services-containerization">Container DevOps</a>
            </li>
            <li>
              <a style="color: 	#006ec2; font-family: Muli; font-size: small;" href="https://www.opstree.com/services-cloud">Cloud Migration</a>
            </li>
            <li>
                <a style="color: 	#006ec2; font-family: Muli; font-size: small;" href="https://www.opstree.com/services-security">Security Services</a>
              </li>
              <li>
                <a style="color: 	#006ec2; font-family: Muli; font-size: small;" href="https://www.opstree.com/services-sre">SRE and NOC</a>
              </li>
          </ul>
  
        </div>
        <!-- Grid column -->

        <div class="col-md-1 mb-md-0 mb-3">
          <a href="https://blog.opstree.com/">
              <img src="{{ site.footer_blog_logo }}" alt="Opstree" height="48" width="48">
            </a>
      </div>

        <div class="col-md-1 mb-md-0 mb-3">
            <a href="https://www.linkedin.com/company/opstree-solutions/">
                <img src="{{ site.footer_linkedin_logo }}" alt="Opstree" height="48" width="48">
              </a>
        </div>

        <div class="col-md-1 mb-md-0 mb-3">
            <a href="https://www.linkedin.com/company/opstree-solutions/">
                <img src="{{ site.footer_fb_logo }}" alt="Opstree" height="48" width="48">
              </a>
        </div>

      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 container" style="color: 	#808080; font-family: Muli;">© 2020 Copyright:
      <a href="https://opstree.com">Opstree Solutions</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->