<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
  {% include navigation.html %}

  <div class="container mt-5 ml-6">
    <h2 style="color: #002856; font-family: Muli; font-weight: 550;">Opensource Catalog</h2>
  </div>

  {% include projects.html %}
  {% include top-blog.html %}
  {% include latest-blog.html %}
  {% include footer.html %}
</html>
